
@model EficienciaEnergetica.Models.Consumo

@{
    ViewBag.Title = "Consumo";
}

<br />

<div class="row wrapper border-bottom white-bg page-headingl">

    <br />
        <h2>Detalle Consumo</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dispositivo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dispositivo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoPeriodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoPeriodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

    </dl>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ConsumoID }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>

</div>

