@model EficienciaEnergetica.Models.InventarioPrintModel

@{
    ViewBag.Title = "GenerarCSV";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Generar CSV</h2>
                    <div class="ibox-tools">
                        <table class="pull-right" style="margin-top:-40px;">
                            <tr>
                                <td>@Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary" })</td>
                                <td style="width: 5px;"></td>
                                <td>
                                    <button type="button" class="btn btn-primary pull-right" onclick="downloadPdf(@Model.InventarioSedeID); return false;" title="Descargar CSV">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </td>
                                <td style="width: 5px;"></td>
                                <td>
                                    <button type="button" class="btn btn-primary pull-right" onclick="printJS({ printable: 'customprintarea', type: 'html', maxWidth: 1824, font: 'Arial', font_size: '11pt' }); return false;" title="Imprimir">
                                        <i class="fa fa-print"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="ibox-content">
                        <div id="customprintarea">
                            <center><h1>Inventario @Model.FechaShort</h1></center><br />
                            <div class="row">
                                <div class="col-md-4">
                                    <b>Nivel Térmico: </b>@Model.NombreNivelTermico<br />
                                </div>
                                <div class="col-md-4">
                                    <b>Empresa: </b>@Model.NombreEmpresa<br />
                                </div>
                                <div class="col-md-4">
                                    <b>Ciudad: </b>@Model.NombreCiudad<br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <b>Valor KWH: </b>@Model.ValorKWHStr<br />
                                </div>
                                <div class="col-md-4">
                                    <b>Nombre Asesor: </b>@Model.NombreAsesor<br />
                                </div>
                                <div class="col-md-4">
                                    <b>Código Asesor: </b>@Model.CodigoAsesor<br />
                                </div>
                            </div>
                        </div>
                        <br /><br /><h2>Equipos</h2><br />
                        <div id="contentRaw" class="table-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/bundles/bootstrapselect/css/")
    @Styles.Render("~/bundles/bootstrapdialog/css")

    <style type="text/css" media="print">
        @@page {
            size: landscape;
        }

        @@page land {
            size: landscape;
        }

        @@page port {
            size: landscape;
        }

        @@media print {
            @@page {
                size: landscape;
            }
        }

        .table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
            border-top: none;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border-top: none;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            border-top: none;
        }

        table {
            border-collapse: collapse;
        }

        .spTable {
            border: 1px solid black;
            border-bottom: 1px solid #000000 !important;
        }

        .spRow {
            border: 1px solid black;
            border-bottom: 1px solid #000000 !important;
        }

        .spCellSimple {
            border: 1px solid black;
            border-bottom: 1px solid #000000 !important;
        }

        .spCell {
            background-color: lightgray;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapdialog")
    @Scripts.Render("~/bundles/bootstrapselect")
}

<script type="text/javascript">

    $(document).ready(function () {
        var Html = "@Html.Raw(@Model.Content)";
        $('#contentRaw').html(Html);
    });

    function clearTableContent() {
        $("#rptTable").fadeOut("normal", function () { $(this).empty(); });
    }

    function downloadPdf(piID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DownloadPDF", "inventarios")',
            data: { iID: piID },
            async: false,
            cache: false,
            success: function (data, status, jqXHR) {
                window.location = '/inventarios/DownloadPDF?iID=' + piID;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (typeof (console) != 'undefined') {
                    alert("oooppss");
                } else {
                    alert("Se ha presentado un error al generar el PDF del Inventario");
                }
            }
        });
    }

    function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("#rptTable tr");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);

            csv.push(row.join(","));
        }

        // Download CSV file
        var link = window.document.createElement("a");
        link.setAttribute("href", "data:text/csv;charset=utf-8,%EF%BB%BF" + encodeURI(csv.join("\n")));
        link.setAttribute("download", filename);
        link.click();
    }
</script>
